<div class="container-fluid container-fullw bg-white" ng-controller="HomeCtrl">
    <div class="row buttons-widget">
        <div class="col-md-8 col-md-offset-2">
            <h5 class="over-title margin-bottom-15"><span class="text-bold" translate="home.PLEASE_SELECT">Please select operation</span></h5>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-transparent">
                        <div class="panel-body">
                            <a class="btn btn-wide btn-primary" href="#" ui-sref="app.contact">
                                <i class="glyphicon glyphicon-plus"></i>&ensp;
                                <span translate="home.ADD_NEW">Add Item</span>
                            </a>
                            <a class="btn btn-wide btn-purple" ui-sref="app.contact-list">
                                <span translate="home.SHOW_LIST">Show list</span>&ensp;
                                <i class="glyphicon glyphicon-list-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>